# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# .NET build output
# =========================
bin/
obj/

# =========================
# Build folders
# =========================
[Bb]uild/
[Dd]ebug/
[Rr]elease/

# =========================
# Rider / IDE
# =========================
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary files
# =========================
*.tmp
*.temp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Python / Virtual Environment
# =========================
.venv/